.idCard {
    border: solid black;
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    width: 50rem;
}

.img{
    margin: 0.3rem;
    height: fit-content;
}

.info{
    line-height: 0.3rem;
}